<div class="nav-bar">
  <div class="brand">
    <fa-icon [icon]="faMugHot" class="brand-icon"></fa-icon>
    <h2>Tea, Please!</h2>
  </div>
  <div *ngIf="loggedIn" class="user-container">
    <p>Hello, {{user?.firstName}}!</p>

    <div>
      <div (click)="toggleMenu()" class="standalone-trigger" [class.menu-open]="showMenu">Settings</div>
      <div *ngIf="showMenu" class="menu">
        <button *ngIf="!user?.isAdmin" routerLink="/order" class="menu-item">Add Item</button>
        <button *ngIf="!user?.isAdmin" routerLink="/order/cart" class="menu-item">Cart</button>
        <button *ngIf="!user?.isAdmin" routerLink="/order/log" class="menu-item">Order Log</button>
        <button class="menu-item" (click)="logout()">Logout</button>
      </div>
    </div>

  </div>
</div>
