<div class="nav-bar">
  <div>
    <h2>Tea, Please!</h2>
  </div>
  <div *ngIf="loggedIn" class="user-container">
    <p>Hello, {{user?.firstName}}!</p>

    <div>
      <button (click)="toggleMenu()" class="example-standalone-trigger">Settings</button>
      <div *ngIf="showMenu" class="example-menu">
        <button *ngIf="!user?.isAdmin" routerLink="/order" class="example-menu-item">Add Item</button>
        <button *ngIf="!user?.isAdmin" routerLink="/order/cart" class="example-menu-item">Cart</button>
        <button *ngIf="!user?.isAdmin" routerLink="/order/log" class="example-menu-item">Order Log</button>
        <button class="example-menu-item" (click)="logout()">Logout</button>
      </div>
    </div>

  </div>
</div>
