.nav-bar {
  width: 100%;
  max-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: visible;
  background-color: brown;
  color: white;
}

h2, p {
  margin: 0;
  align-self: center;
}

.brand {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: x-large;
}

.brand > h2 {
  font-size: x-large;
  margin: 10px;
}

.brand-icon {
  height: 100%;
  margin: 10px;
}

.user-container {
  display: flex;
}

.menu {
 
  position: absolute;
  left: auto;
  right: 0;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: rgba(255, 255, 255);
  padding: 6px 0;
  z-index: 10;
}

.menu-item,
.standalone-trigger {
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;
  width: 100%;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
  color: white;
}

.menu-item {
  color: black;
  min-width: 64px;
}

.standalone-trigger {
  height: 100%;
  width: fit-content;
  margin-left: 20px;
}

.menu-item:hover {
  background-color: rgb(208, 208, 208);
}

.menu-item:active {
  background-color: rgb(170, 170, 170);
}

.menu-open {
  background-color: rgb(118, 30, 30);
}