<div class="nav-bar">
  <div>
    <h2>Tea, Please!</h2>
  </div>
  <div *ngIf="loggedIn" class="user-container">
    <p>Hello, {{user?.firstName}}!</p>
    <div *ngIf="!user?.isAdmin">
      <button routerLink="/order">Add Item</button>
    </div>
    <div *ngIf="!user?.isAdmin">
      <button routerLink="/order/cart">Cart</button>
    </div>
    <div *ngIf="!user?.isAdmin">
      <button routerLink="/order/log">Order Logs</button>
    </div>
    <div>
      <button (click)="logout()">Logout</button>
    </div>
  </div>
</div>
