<div class="kitchen-container">
  <div class="example-container">
    <h2>Orders</h2>
    <div
      cdkDropList
      #newOrderList="cdkDropList"
      [cdkDropListData]="orders"
      [cdkDropListConnectedTo]="[inProgressList, completedList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <app-order-card [order]="item" *ngFor="let item of orders" cdkDrag></app-order-card>
    </div>
  </div>

  <div class="example-container">
    <h2>In Progress</h2>
    <div
      cdkDropList
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="[completedList, newOrderList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <app-order-card [order]="item" *ngFor="let item of inProgress" cdkDrag></app-order-card>
    </div>
  </div>
  
  <div class="example-container">
    <h2>Completed</h2>
    <div
      cdkDropList
      #completedList="cdkDropList"
      [cdkDropListData]="completed"
      [cdkDropListConnectedTo]="[newOrderList, inProgressList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <app-order-card [order]="item" *ngFor="let item of completed" cdkDrag></app-order-card>
    </div>
  </div>
</div>

